@model ProgramInput

<div>
    <form method="post" enctype="multipart/form-data">
        <div asp-validation-summary="All" class="text-danger"></div>

        <label asp-for="Name"></label>
        <input asp-for="Name" class="form-control border border-dark" />

        <label asp-for="Price"></label>
        <input asp-for="Price" type="number" class="form-control border border-dark" />

        <label asp-for="Description"></label>
        <textarea asp-for="Description" class="form-control border border-dark" rows="3"></textarea>

        <div class="mt-2">
            <input type="submit" class="form-button btn" value="Save" />
            <a asp-area="Admin" asp-controller="Program" asp-action="DeleteProgram" asp-route-id="@Model.Id" class="form-button btn">Delete</a>
        </div>

    </form>
</div>


