@model WorkerInput

<div>
    <form method="post" enctype="multipart/form-data">

        <label asp-for="Name"></label>
        <input asp-for="Name" class="form-control" />


        <label asp-for="Age"></label>
        <input asp-for="Age" class="form-control" />

        <label asp-for="Description"></label>
        <textarea asp-for="Description" class="form-control" rows="3"></textarea>

        <label asp-for="Image"></label>
        <input asp-for="Image" class="form-control" />

        <input type="submit" class="form-button btn mt-2" value="Create" />

    </form>
</div>


